/*Colours*/

/*form colours*/
/* Border Radius*/

/*/Screen Breakpoints*/

/*Padding and margin settings*/
/*standard padding for the site*/

/*Spacers*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
 /* min-height: 100vh;*/
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Copied from Andy Bell reset https://piccalil.li/blog/a-modern-css-reset/ ///////*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
body{
    font-family: 'Glory', sans-serif;
}
.font-emphasis{
    font-weight: 300;
    font-size: 1.25rem;
    color: hsl(0, 0%, 54%);
}
.text-alert{
    color: hsl(0, 95%, 67%);
}
.cta-heading{
    /*bigger font for an alert or a large block of text*/
    font-size: 2rem;
    color: hsl(25, 100%, 40%);
    font-weight: 300;
}
h1{
    font-size:2.5rem;
}
h2{
    font-size: 2rem;
}
h1, h2, h3, h4{
    font-family: 'Alex Brush', cursive;
}
.section-title{
    font-size: 2.5rem;
    color: hsl(25, 100%, 40%);
}
.section-subtitle{
    font-size: 1.5rem;
    font-weight: 200;
}
body{
     display: flex;
     flex-direction: column;
    justify-content: space-between;
    min-height: -webkit-fill-available;
    min-height: stretch;
 
    
}
@media(min-width:768px){
body{
        min-height: 100vh
 
    
}
    }
a{
    color: hsl(25, 100%, 40%);
    display: inline-block;
}
a:hover{
        opacity: 0.8;
    }
* ::-webkit-scrollbar{ /*defines scrollbar width*/
        width: 8px;
        height: 8px;
    }
* ::-webkit-scrollbar-thumb{ /*Actual scroll block*/
        background: hsl(25, 100%, 40%);
        border-radius: 0.375rem;
    }
* ::-webkit-scrollbar-thumb:hover{
            background: hsl(25, 100%, 70%);
        }
* ::-webkit-scrollbar-track{ /* Track in which the scroll bar follows*/
        background: #fff;
        border: 1px solid hsl(25, 100%, 40%);
        border-radius: 10px; /*Makes the scroll bar a pill shape and pushes it down*/
        margin-block: 0.25rem;
    }
/*Add this for firefox compatibility. Only supports two colours*/
@supports (scrollbar-color: hsl(25, 100%, 40%) #FFF5EC){
    *{
        scrollbar-color: hsl(25, 100%, 40%) #FFF5EC;
        scrollbar-width: auto;
    }
}
.grecaptcha-badge{
    visibility: hidden;
} 
.nav-container {
    padding: 1rem 2rem;
    z-index: 100;
    /*position: relative;*/
} 
.nav-bar{ /*inner nav bar*/
    display: flex;
   
    justify-content: space-between;
    align-items: center;
} 
.nav-brand{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Alex Brush', cursive;
    opacity: 1;
    transition: opacity 600ms ease;
} 
.nav-brand a{
        text-decoration: none;
        color: hsl(25, 100%, 95%);
    } 
.nav-brand a span{
            font-size: 3rem;
            margin-inline: 0.5rem;
        } 
.nav-brand-sm{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Alex Brush', cursive;
} 
.nav-brand-sm a{
        text-decoration: none;
    } 
.nav-brand-sm a span{
            font-size: 3rem;
            margin-inline: 0.5rem;
        } 
.nav-links {
    /*nav bar links*/
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    padding: 1.5rem;
    background-color: hsl(25, 100%, 90%);
    border-bottom: 2px solid hsl(25, 100%, 40%);
} 
.nav-links li {
        list-style-type: none;
        

    } 
.nav-links a{
        text-decoration: none;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        color: hsl(25, 100%, 40%);
        margin-block: 0.5rem;
        animation: navopen 300ms ease-in-out forwards;
    } 
.nav-links a:hover, .nav-links a:focus{
            text-decoration: underline;
        } 
/*settings for active menu*/ 
.nav-links[data-state="opened"]{
    display: block;
    transform: translateX(0%);

    animation: navopen 400ms ease-in-out forwards;
} 
.nav-links[data-state="closing"] {
    animation: navclose 400ms ease-in-out forwards;
   
} 
.nav-links[data-state="closed"] {
    display: none;
} 
.nav-link.link-active {
    background-color: hsl(25, 100%, 60%);
    color: hsl(25, 100%, 80%);
    outline: 2px solid hsl(25, 100%, 80%);
    outline-color: hsl(25, 100%, 80%);
} 
@keyframes navclose{
    100%{opacity:0;}
    0%{opacity:1;}
} 
@keyframes navopen{
    0%{opacity:0; }
    100%{opacity:1;}
} 
/*///////////////////////////////////////////////Nav Button///////////////////*/ 
/*nav button settings*/ 
.nav-btn {
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
} 
.nav-btn .hamburger {
        /*svg*/
        fill: hsl(25, 100%, 90%);
    } 
.line {
    /*animations*/
    transition:
        transform 400ms ease-out 400ms,
        rotate 400ms ease-out,
        opacity 0ms 400ms;
    transform-origin: center;
} 
/*once active these styles apply*/ 
[aria-expanded="true"] .line {
    /*hamburger lines*/
    transition:
        transform 400ms ease-out,
        rotate 400ms ease-out 400ms,
        opacity 0ms 400ms;

} 
[aria-expanded="true"] .top {
    transform: translateY(20px);
    rotate: 45deg;
} 
[aria-expanded="true"] .bottom {
    transform: translateY(-20px);
    rotate: -45deg;

} 
[aria-expanded="true"] .middle {
    opacity: 0;
} 
/*///////////Wider screen Settings*/ 
@media(min-width:1200px){
    .nav-bar{ /*inner nav bar*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-btn{
        display:none;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        position: static;
        top: 0;
        padding: 0.5rem;
        background: rgba(255, 255, 255, 0.20);
        -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
        border: none;
        border-radius: 20px;
        border-bottom: 1px solid transparent;
      
    }
        .nav-links a{
            margin-block: 0;
            color: hsl(25, 100%, 90%);
        }
    .nav-links[data-state="closed"] {
        display: flex;
    }
    .nav-container{
        height: 150px;
    }
    
.nav-links[data-nav="scrolled"]{
    background-color: hsl(25, 100%, 95%);
    position: fixed;
    top: -63px;
    width: 100%;
    padding-inline: 2rem;
    animation: nav-slide 400ms ease forwards;
    border-radius: 0;
    border-bottom: 1px solid hsl(25, 100%, 40%);
}
   .nav-links[data-nav="scrolled"] a{
       color: hsl(25, 100%, 40%);
   }
.nav-links[data-nav="closing"]{
    width: 100%;
    background-color: hsl(25, 100%, 95%);
    position: fixed;
    top: 0;
    border-radius: 0;
    padding-inline: 1.5rem;
    animation: nav-closing 400ms ease forwards;
}
    .nav-links[data-nav="closing"] a{
        color: hsl(25, 100%, 90%);
        opacity: 0;
    }
.nav-links[data-nav="ready"]{
    
   

    animation: nav-ready 400ms ease-out forwards;
}
   .nav-links[data-nav="ready"] a{
       
       opacity: 0;
   }
} 
/*//Nav scrolled settings*/ 
@media(min-width:768px){

} 
/*animate menu slide down*/ 
@keyframes nav-slide{
    0%{top:-63px;}
    100%{top:0;}
} 
/*animate menu slide down*/ 
@keyframes nav-closing{
    0%{top:0; color:hsl(25, 100%, 40%);}
    100%{top: -63px; color: hsl(25, 100%, 90%);}
} 
/*animate menu slide down*/ 
@keyframes nav-ready{
    0%{opacity: 0;}
    100%{opacity: 1;}
} 
.footer{
    padding-block: 1.5rem;

    background-color: hsl(25, 100%, 70%);
} 
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} 
@media(min-width: 768px){ 
.footer-container{
        flex-direction: row;
        justify-content: space-between
}
    } 
.hero {
    min-height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(25, 100%, 95%);
} 
.hero-img-card {
    max-height: 50%;
    place-self: center;
    width: 50%;
    overflow: auto;
} 
.hero-img-card img {
    height: 100%;
    max-height: 100%;
    object-fit: cover;

} 
.hero-card-img{
    border: 15px solid red;
    border-radius: 20px;
    border-color: hsla(0, 0%, 100%, 0.358);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    height: 100%;
    max-height: 350px;
    place-self: center;
    z-index: 0;
} 
.hero-title h1 {
        font-size: 2.5rem;
        font-weight: 400;
        color: hsl(25, 100%, 90%);
        text-shadow: 2px 2px hsla(0, 0%, 0%, 0.25);
    } 
.hero-title p {
        font-size: 1.5rem;
    } 
.hero-container {
    margin-top: 0.5rem;
    width: 100%;
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    grid-template-columns: 1fr;

} 
.index-hero {
    background-image: url("../../assets/img/hero/index-hero.jpg");

} 
.hero-title{
    place-self: center;
} 
.hero-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    opacity: .7;
    padding-inline: 0.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.25rem;
    place-self: end center;
    width: 95%;

} 
.hero-footer::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 3px;
        border-radius: 5px;
        width: 100%;
        background-color: hsla(0, 0%, 100%, 0.5);
        -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
    } 
@media(min-width:768px) {
    .hero-img-card {
        max-height: 600px;


    }

    .hero-footer {
        flex-direction: row;
        justify-content: space-between;

    }
} 
.section-divider img{
        width: auto;
        margin: 0 auto;
    } 
.gallery{
    background-image: url("../../assets/img/icons/flower-bg-lh.svg"), url("../../assets/img/icons/flower-bg-rh.svg") ;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 25%;
    overflow-x: scroll;

} 
/*/card to make images look like a instax photo*/ 
.gallery-card{
    position: relative;
    padding: 1.5rem;
    background-color: #fff;
    width: 272px;
    height: 325px;
    border-radius: 10px;
    border: 1px solid hsl(25, 100%, 40%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 3px 3px 1px rgba(0, 0, 0, 0.2);
    flex-grow: 0;

} 
.gallery-card-img img{
    aspect-ratio: 1/1;
    width: 234px;
    height: 234px;
    object-fit:cover;
    border-radius: 5px;
   
} 
.gallery-card-footer{
    display: grid;
    place-items: center;
    font-size: 1.5rem;
} 
.gallery .gallery-card:nth-child(odd){
    transform: rotate(5deg);
} 
.gallery .gallery-card:nth-child(even){
    transform: rotate(-5deg);
} 
.gallery-body{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
@media(min-width: 768px){
    .gallery{
        background-position: left bottom, right bottom;
        padding-block: 1.5rem;
        
    }
    .gallery-body{
        padding-block: 2.5rem;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: fit-content;
    }
    .peg{
        position: absolute;
        top: -60px;
        left: calc(50% - 1.5rem);
        height: 95px;
        width: 20px;
        background-color: #c4b6a2;
        z-index: 1;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), 1px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }
        .peg::after{
            content: "";
            position: absolute;
            bottom: 25px;
            left: 0px;
            width: 22px;
            height: 3px;
            border-radius: 1px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.265);
            border-top: 1px solid rgba(0, 0, 0, 0.265);
            background-color: silver;
        }
} 
.login-main{/*main body content for login screen and password reset form*/
    display: grid;
    place-items: center;
} 
@media (min-width: 768px) { 
.login-main{
        place-items: start;
        grid-template-columns: 1fr
}
    } 
.login-main .header{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
    } 
.gallery-hero{
  background-image: url("../../assets/img/hero/index-hero.jpg");

} 
/*/thumbnails*/ 
.thumbnails{
  width: auto;
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
} 
.thumbnails img{
    height: 150px;
  } 
.thumbnails::-webkit-scrollbar{ /*defines scrollbar width*/
  width: 2px;
  
} 
/* The Modal (background) */ 
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr auto;
    pointer-events: none;
    transition: opacity 300ms ease-out;
    background-color: rgba(0, 0, 0, 0.95);
  } 
.modal-active{
    opacity: 1;
    pointer-events: all;
  } 
/* Modal Content */ 
.modal-content {
    position: relative;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;

  } 
/* The Close Button */ 
.modal-close {
    color: white;
    justify-self: right;
    font-size: 35px;
    font-weight: bold;
    margin-right: 20px;
  } 
.close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  } 
/* Hide the slides by default */ 
.mySlides {
    display: none;
    height: 100%;

  } 
/*Slide body*/ 
.slide-body{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-template-rows: 1fr 50px;
  } 
.slide-body-img{
    justify-self: center;
  } 
.slide-body-img img{
      max-height: 60vh;
    } 
.slide-body-caption{

    padding: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  } 
/* Next & previous buttons */ 
.prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  } 
/* Position the "next button" to the right */ 
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } 
/* On hover, add a black background color with a little bit see-through */ 
.prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } 
/* Number text (1/3 etc) */ 
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-block: 15px;
    top: 0;
    left:0;
  } 
/* Caption text */ 
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  } 
img.demo {
    opacity: 0.6;
  } 
.active,
  .demo:hover {
    opacity: 1;
  } 
img.hover-shadow {
    transition: 0.3s;
  } 
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
.gallery-img{
    cursor: pointer;
   
  } 
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  } 
.gift-item-thumb{
    height: 150px;
} 
.gift-hero{
    background-image: url("../../assets/img/hero/index-hero.jpg");
    color: hsl(25, 100%, 95%);
} 
.std-card.index-img img{
    width: 100%;
 
    border-radius: 5px;
   } 
.rsvp-card{
    width: 80%;
    margin: 0 auto;
    max-width: max-content;
} 
.story-hero{
    background-image: url("../../assets/img/hero/index-hero.jpg");
    color: hsl(25, 100%, 95%);
  } 
.story p{
      margin-block-end: 1.5rem;
    } 
.day-hero{
    background-image: url("../../assets/img/hero/index-hero.jpg");
 color: hsl(25, 100%, 95%);
  } 
.contact-hero{
    background-image: url("../../assets/img/hero/index-hero.jpg");
 color: hsl(25, 100%, 95%);
  } 
/*Standard column gives equal widths*/ 
@media(min-width:768px){ 
.col-50{
        width: 50%
    
}
    } 
.grid-col{ /*standard grid column to hold items together*/
    width: 100%;
grid-column: 2/3;
} 
/*Flex rows. Column on small screens and row on larger screens*/ 
.row{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
} 
@media(min-width: 768px){ 
.row{
    flex-direction: row
    
}
   } 
/*Flex utilities*/ 
@media(min-width:768px){ 
.flex-reverse-md{
        flex-direction: row-reverse /* reverse flex direction only on larger screen sizes*/
    
}
    } 
.grid-row-2col{/*grid row with 2 columns of equal width*/
    display: grid;
    gap: 0.5rem;
} 
@media(min-width:768px){ 
.grid-row-2col{
        grid-template-columns: 1fr 1fr
}
        
    } 
.grid-row-2col .std-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
.grid-row-3col{/*grid row with 3 columns of equal width*/
    display: grid;
    gap: 0.5rem;
} 
@media(min-width:768px){ 
.grid-row-3col{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto)
}
    } 
/*Utility classes for grid */ 
.place-grid-start{/*places a grid item at the top of a grid row*/
    place-self: start;
} 
.grid-auto-sm{ /*auto grid small columns*/
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
} 
.container-fluid,
.container{
    width: 100%;
    padding-inline: 1rem;
} 
.container-fw{/*Full width container with no padding and margin*/
    width: 100%;
} 
.container{
    margin: 0 auto;
} 
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
} 
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
} 
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
} 
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
} 
@media (min-width:1400px){
    .container{
        max-width: 1320px;
    }
}
.btn-primary {/*primary button*/
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    background-color: hsl(25, 100%, 50%);
    color: #fff;
    border: 1.5px solid hsl(25, 100%, 50%);
    border-radius: 5px;
    padding: .375rem .75rem;
    transition: box-shadow 300ms ease-out;
    width: fit-content;
   cursor: pointer;
    
}
.btn-primary:focus{
        box-shadow: 0 0 2px 3px hsl(25, 100%, 80%);
        transition: box-shadow 300ms ease-out;
    }
.btn-primary svg{
    margin-right: 0.5rem;
}
::file-selector-button{
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    background-color: hsl(25, 100%, 50%);
    color: #fff;
    border: 1.5px solid hsl(25, 100%, 50%);
    border-radius: 5px;
    padding: .375rem .75rem;
    transition: box-shadow 300ms ease-out;
}
.btn-secondary{
    background-color: white;
    color: hsl(25, 100%, 40%);
}
a.btn-primary{
    
    text-decoration: none;
}
.btn-delete{
    background-color: hsl(0, 95%, 67%);
    border-color: hsl(0, 95%, 67%);
}
.btn-delete:focus{
        box-shadow: 0 0 2px 3px hsl(0, 95%, 67%);
        transition: box-shadow 300ms ease-out;
    }
.btn-close{/*close button*/
    border: 0;
    border-radius: .375rem;
    padding: .25em .25em;
    height: min-content;
    cursor: pointer;
    opacity: .5;
    background-color: transparent;
}
.btn-close:hover{
        opacity: 1;
    }
.alert{
    /*/Alert button for buttons to draw attention*/
    background-color: hsl(0, 95%, 67%);
    border-color: hsl(0, 95%, 67%);
}
.btn-cta{
    /* call to action button*/
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
}
/*Form Grid, cols provide 2 columns 50% on larger screens*/
.form-row{
    display: grid;
    gap: 0.5rem;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
}
.form-input-col{
    display: flex;
    flex-direction: column;
}
/*////*/
/*Quote request form*/
.quote-request{
    background-color: #B099BF;
    width: 100%;
 }
.quote-request h2, .quote-request h3{
     color: hsl(25, 100%, 40%);
    }
.quote-request label{
     color: #fff;
    }
.quote-request {
     padding: 1rem;
     border-radius: 20px;
     flex-grow: 0.5;
}
.quote-request .form-floating > label,.quote-request input,.quote-request textarea{
         color: #212529;
     }
.quote-request select option{
         font-family: 'Glory', sans-serif;
     }
.quote-request textarea{
         height: 120px !important;
     }
@media(min-width: 768px){
         .quote-request .form-col{
             width: 100%;
         }
     }
.quote-request .google-policy{
        color: white;
     }
/*Recaptcha  settings*/
.recaptcha-token{
    display: none;
}
/*container for privacy message, this is displayed as we have hidden the recaptcha logo*/
.google-policy{
    margin-block: 0.5rem;
}
.google-policy p{
        margin-bottom: 0;
    }
/*/Form wrapper to wrap login and password reset  forms in etc*/
.login-wrapper{
    border-radius: 20px;
    background-color: white;
    padding: 2rem;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    margin-block: 1.5rem;
}
/*/form input wrapper, holds labels and inputs together*/
.form-input-wrapper{
    display: flex;
    flex-direction: column;
}
.form-input-wrapper img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 2.5px;
    }
/*///////////////////Form Input settings///////////////////////////*/
input, textarea{
    outline: none;
    max-width: 50ch;
}
input[type=text], input[type=password], textarea, select, input[type=file],input[type=number], input[type=date], input[type=time], input[type=email]{
    -webkit-appearance: none;
            appearance: none;
    border: 1px solid hsl(25, 100%, 40%);
    border-radius: 5px;
    padding: 0.25rem;
    transition: box-shadow 300ms ease-out;
    margin-block: 0.25rem;
    
}
input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus,input[type=file]:focus,input[type=number]:focus,input[type=date]:focus,input[type=time]:focus,input[type=email]:focus{
        box-shadow: 0 0 2px 3px hsl(25, 100%, 50%);
        transition: box-shadow 300ms ease-out;
    }
input[type=date], input[type=time], input[type=number]{
    width: min-content;
}
textarea{
    width: 100%;
    min-height: 250px;
    margin-bottom: 1rem;
    padding:.375rem .75rem;
    resize: auto;
    border-radius: 5px;
  }
@media (min-width:768px) {
textarea{
      min-height: 0;
      margin-bottom: 1rem;
      height: 100%
  }
    }
select{
    display: block;
    width: min-content;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: #fff;
    -webkit-appearance: none;
            appearance: none;
    border: 1px solid hsl(25, 100%, 40%);
    border-radius: 0.25rem;
    background-image: url("../img/icons/down.svg");
    background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 12px;
  }
select:focus{
      outline: none;
      box-shadow: 0 0 2pt 1pt hsl(25, 100%, 40%);
        transition: box-shadow 250ms ease;
    }
/*button wrapper, displays buttons and spaces them out*/
.button-section, .modal-button-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.button-section button,.button-section a,.modal-button-section button,.modal-button-section a{
        width: 100%;
        max-width: 390px;
    }
.button-section, .modal-button-section {
    gap: .5rem;
}
@media(min-width:768px){
.button-section, .modal-button-section{
        flex-direction: row;
        width: 80%;
        max-width: 600px
}
        .button-section button, .button-section a, .modal-button-section button, .modal-button-section a{
            width: fit-content;
        }
    }
.button-section a,.modal-button-section a{
        text-decoration: none;
    }
/*checkboxes*/
.checkbox-form-control{ /*label acts as the wrapper*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
input[type="checkbox"]{/*basic styling*/
    -webkit-appearance: none;
            appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid hsl(25, 100%, 40%);
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.checkbox-form-control + .checkbox-form-control {
    margin-top: 1em;
  }
input[type="checkbox"]::before{
    content: "";
    width: .65em;
    height: .65em;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 1em 1em hsl(25, 100%, 40%);
    transform-origin: bottom left;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before{
    transform: scale(1);
}
input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid hsl(25, 100%, 40%);
    outline-offset: max(2px, 0.15em);
  }
/*////Toggle Switches*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
input:checked + .slider {
    background-color: hsl(25, 100%, 50%);
  }
input:focus + .slider {
    box-shadow: 0 0 1px hsl(25, 100%, 50%);
  }
input:checked + .slider:before {
    transform: translateX(26px);
  }
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
.slider.round:before {
    border-radius: 50%;
  }
/*///////////////////////////////////////*/
/*/ */
/*/ Form responses //////////////*/
.form-response{ /*standard settings for success */
    background-color: hsl(25, 100%, 80%);
    padding: 2rem;
    border-radius: 5px;
}
/*Response colours*/
.error{/*modifier class for error messages*/
    background-color: hsl(0, 95%, 67%);
}
/*///////////////Form Hint text.  Smaller font size, provides a helpful hint/////////////////////////*/
.form-hint-small{
    font-size: 0.8rem;
    color: hsl(0, 0%, 54%);
}
/*/////////////Form controls //////////*/
.form-controls{
    padding: 1rem;

    border: 1px solid hsl(25, 100%, 50%);
    border-radius: 2.5px;

}
.form-controls-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-controls-btn img{
        height: 1.25rem;
        margin-inline-start: 1rem;
    }
/*Form modal setting when on a big screen*/
@media(min-width:768px){
    .modal-body .form-card{
        width: 50ch;
    }
}
/*Set the height of button sections to stop layout shifts when hidden*/
.btn-wrapper{
    height: 38.667px;
}
/*/////////Spinners ///////////*/
.form-controls-btn .loading-icon{

    animation: spinner 3s infinite ease-out;
    opacity: 1;
}
@keyframes spinner{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading{
    opacity: 1;
}
/*///////Search box input\\\\\\\\\\*/
.search-input{
    display: flex;
    align-items: center;
    
}
.search-input input{
        border-bottom-right-radius:0px;
        border-top-right-radius:0px;
    }
.search-input button{
        height: 33.33px;
        width: 33.33px;
        padding: 0.25rem;
        border: none;

        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

    }
.search-input button svg{
            height: 100%;
            margin: 0;
        }
.search-input button path{
            fill: #fff;
        }
.price-list-controls, .search-controls{
    background-color: hsl(25, 100%, 80%);
    border-radius: 20px;
    padding: 0.5rem;
}
@media(min-width: 768px){
.price-list-controls, .search-controls{
        display: flex;
        align-items: center;
        justify-content: space-between
}
    }
/*/hide recaptcha logo on small screens*/
@media(max-width:768px){
.grecaptcha-badge{
        visibility: hidden
    
}
    }
/*image card with glass border*/
.img-card{
    padding: 1rem;
    background-color: hsla(0, 0%, 96%, 0.509);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border: 1px solid hsl(25, 100%, 40%);
}
/*standard card with basic padding and a simple border*/
.std-card{
    padding: 1.5rem;
    border: 2px solid hsl(25, 100%, 40%);
    border-radius: 20px;
}
/*event card with header images and date information*/
/*set up as a section with a full width bg image*/
.event-card-section{
    background-image: url("../../assets/img/event-card/event-card-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 2rem;
}
.event-card{
   border: 2px solid hsl(25, 100%, 40%);
   text-align: center;
   padding: 1.5rem;
   background-color: hsl(25, 100%, 90%);
   border-radius: 20px;
}
.event-card h2{
    font-size: 2rem;
    font-weight: 300;
   }
.event-card p{
    font-size: 1.25rem;
    font-weight: 100;
   }
.event-card-images{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
}
@media(min-width:768px){
.event-card-images{
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem
}
    }
.event-card-images .img-card{
        max-height: 500px;
        max-width: 500px;
    }
.event-card-images .img-card img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
.venue-card{
    padding-block: 4rem;
    display: grid;
    gap: 1.5rem;


}
@media(min-width:768px){
.venue-card{
        grid-template-columns: 1fr 1fr


}
    }
.venue-card h2{
        color: hsl(25, 100%, 40%);
    }
.venue-text{
    padding: 2rem;
}
.footer-img-card{
    width: 100%;
    object-fit: cover;
    height: 50vh;
}
.day-card{
    text-align: left;
}
.day-card-body{
    display: grid;
    gap: 1.5rem;
}
@media(min-width: 768px){
.day-card-body{
        grid-template-columns: 1fr 1fr
}
    }
/*/gift list*/
.gift-item-card{
    padding: 1.5rem;
    border: 2px solid hsl(25, 100%, 40%);
    display: grid;
    gap: 0.5rem;
    max-width: 600px;
}
@media(min-width:768px){
.gift-item-card{
        grid-template-columns: auto 250px
}
        
    }
/*short intro card to the couples story*/
.story-intro{
    max-height: 25ch;
    overflow: hidden;
}
@supports(-webkit-line-clamp: 5){
    .story-intro{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        max-height: auto;
    }

}
/*/profile cards ith a decorative border and center card*/
.profile-card{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.profile-card-img img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}
.profile-card-body{
    text-align: center;

}
.profile-card-body h3{
        font-weight: 300
    }
.profile-card-body {
    font-weight: 200;
}
.center-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    place-self: center;
    height: 80%;

}
.center-card img{
        opacity: .8;
    }
.left, .right{
    font-family: 'Alex Brush', cursive;
    color: hsl(25, 100%, 40%);
    font-size: 3rem;
    
}
@media(min-width: 768px){
    .left{
        align-self: start;
    }
    .right{
        align-self: end;
    }
}
.cookie-overlay {/*container*/
  display: none;
    position: fixed;
    bottom: 0.25rem;
    left: 0.25rem;
    background: hsl(43, 45%, 80%);
    padding: 2rem;
    z-index: 2051;
    font-size: 14px;
    border-radius: 20px;
    max-width:400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cookie-overlay a {
      text-decoration: underline;
    }
.cookie-overlay .accept-cookies{/*accept cookies button*/
      display: block;
      width: 100%;
    }
.cookie-overlay .btn-close{
      background-size: 1.5rem;
    }
.cookie-overlay-icon{
  display: grid;
  place-items: center;
}
.cookie-text{
   font-size: 1rem;
   line-height: 1.7;
  }
.cookie-text p{
    color:hsl(43, 45%, 20%);;
   }
.cookie-text h2{
    text-align: center;
    color: hsl(43, 49%, 25%);
   }
.close-cookies, .accept-cookies{
    cursor: pointer;
  }
.close-cookies{
      position:absolute ;
      top: 1rem;
      right: 1rem;
      height: 40px;
      width: 40px;
      padding: 0.25rem;
  }
.close-cookies svg{
        height: 100%;
      }
.close-cookies svg path{
          fill: hsl(25, 100%, 40%);
        }
.std-table{/*standard table settings*/
    width: 100%;
    margin-bottom: 1.5rem;
}
.std-table th{
        text-align: left;
    }
.std-table td{
        border-bottom: 1px solid hsl(25, 100%, 40%);
    }
.std-table tr:nth-child(even){
        background-color: hsl(25, 100%, 90%);
    }
.guest-list-actions{
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    font-size: 1.25rem;
}
.guest_group .guest-list-actions{
    margin: 0;
}
.countdown-container{
  background-image: url("../../assets/img/hero/index-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items:end;
  justify-content: center;
}
.countdown-body{
  width: 80%;
  margin: 0 auto;

}
.countdown {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 0 2rem 0;
  }
.days,
  .hours,
  .minutes,
  .seconds {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    font-weight: 200;
    color: hsl(25, 100%, 95%);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 1px solid hsl(25, 100%, 40%);
    border-bottom: 0px;
    height: 100%;
  }
.time {
    text-align: center;
    width: 25%;
    min-height: 90px;
  }
.time-footer{
    background-color: hsl(25, 100%, 40%);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  
    height: 35px;
  }
.countdown-subtitle {
    color: hsl(25, 100%, 90%);
  }
.countdown-footer{
    position: relative;
    padding-block: 1.5rem;

  }
.countdown-footer p{
      color: hsl(25, 100%, 95%);
      font-size: 1.25rem;
    }
@media(min-width: 768px){
    .time{
      width: 110px;
      height: 120px;
    }
    .countdown-footer p::before, .countdown-footer p::after{
      content: "";
      position: absolute;
      top: 50%;
      height: 5px;
      width: 25%;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.25);
    }
    .countdown-footer p::before{
      left: 0;
    }
    .countdown-footer p::after{
      right: 0;
    }
  }
.return{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: hsl(25, 100%, 90%);
    border: 1px solid hsl(25, 100%, 40%);
    opacity: 0;
    animation: return 5s ease infinite;
    scale: .5;
    transition: opacity 300ms ease, scale 300ms ease;
}
.return svg{
        height: 100%;
    }
.return svg path{
            fill: hsl(25, 100%, 40%);
        }
@keyframes return{
    0%{transform: translatey(0px);}
    50%{transform: translatey(5px);}
    100%{transform: translatey(0px);}
}
.return-active{
    opacity: .8;
    scale: 1;
    transition: opacity 300ms ease, scale 300ms ease;
}
@media(min-width: 1200px){
    .return{
        display: none;
    }
}
@media(min-width: 768px){
    .return{
        bottom: 92px;
    }
}
/*spacing utilities*/
/*m = margin*/
/*p = padding*/
/*y = top and bottom*/
/*t = top*/
.mb-1{
    margin-bottom: 0.25rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}
.mb-3{
    margin-bottom: 1.5rem;
}
.mb-4{
    margin-bottom: 2rem;
}
.my-2{
    margin-block: 0.5rem;
}
.my-3{
    margin-block: 1.5rem;
    
}
.my-4{
    margin-block: 2rem;
}
.my-5{
    margin-block: 2.5rem;
}
.my-6{
    margin-block: 3rem;
}
.my-7{
    margin-block: 4rem;
}
/*//Padding////*/
.py-4{
    padding-block: 2rem;
}
.py-5{
    padding-block: 2.5rem;
}
.pt-0{
    padding-top: 0;
}
/*////*/
/*colour utilities*/
.bg-primary{
    /*change bg to primary colour*/
    background-color: hsl(25, 100%, 40%);
}
.primary-900{
    background-color: hsl(25, 100%, 90%);
}
.primary-950{
    background-color: hsl(25, 100%, 95%);
}
.bg-secondary-col{
    /*change bg to secondary col*/
    background-color: #B099BF;
}
.bg-tertiary-col{
    background-color: #4D4D4D;
}
.bg-tertiary-col-v2{/*uses tertiary color for bg but makes it opacity lower*/
    background-color: rgba(#4D4D4D, 0.25);
}
/*Text Alignments*/
.text-center{
    text-align: center;
}
/* Borders*/
.border-std{/*place a border radius std on all the site*/
    border-radius: 20px;
}
/*Font colours*/
/*Change default font to primary colour*/
.text-color-primary{
    color: hsl(25, 100%, 40%);
}
/*Change font colour to white*/
.text-color-white{
    color: #fff;
}
/*Font color muted. Slightly grey color*/
.text-color-muted{
    color: hsl(0, 0%, 54%);
}
/*flex utility classes*/
.flex-column{/*makes a flex column*/
    display: flex;
    flex-direction: column;
}
.flex-space-between{
    justify-content: space-around;
}
/*/Display utilities*/
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.place-start{
    place-self: flex-start;
}
/*text utility classes*/
.wrap-words{
    word-wrap: anywhere;
}
/*# sourceMappingURL=styles.css.map */