.std-card.index-img{
   img{
    width: 100%;
 
    border-radius: 5px;
   }
}

.index-hero{
   .nav-brand{
      color: $primary-950;
   }
   .gallery-card{
      border-color: black;
   }
   .gallery-card-footer{
      color: black;
   }
}