@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
$font-family-sans-serif: 'Glory', sans-serif;
$ff-handwriting: 'Alex Brush', cursive;
body{
    font-family: $font-family-sans-serif;
}

.font-emphasis{
    font-weight: 300;
    font-size: 1.25rem;
    color: $grey-600;
}

.text-alert{
    color: $error-response ;
}
$fs-100: 1rem;
$fs-125: 1.25rem;
$fs-150: 1.5rem;
$fs-200: 2rem;
$fs-250: 2.5rem;

.cta-heading{
    //bigger font for an alert or a large block of text
    font-size: $fs-200;
    color: $primary;
    font-weight: 300;
}